
body{
    background:  #200327;
    color: rgb(247, 170, 244);
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

canvas{
    border: solid 0.2em rgb(82, 4, 79);
    height: 90vh;
    /* background:  #200327; */
}